
.App {
  background-image: url(./images/background_new.png);
  background-color: black;
  position: absolute;
  height: 300vh;
  width: 100vw;
  background-size: 100vw;
  background-repeat:no-repeat;
  min-width: 100vw;
}

.Navbar {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  align-items: center;
  padding-left: 70vw;
}

.Skis {
  height: 10vh;
  width: 10vh;
}

.Header {
  display: flex;
  flex-direction: column;
  color:#ffffff;
  padding-left: 200px;
  padding-top: 70px;
  font-size: 75px;
}

.Topbar {
  padding-left: 10px;
  display: flex;
}

.Logo {
  color: #ffffff;
  align-items: center;
  display:flex;
  padding-left: 40px;
}

.Filter {
  color: #ffffff;
  align-items: center;
  display:flex;
  justify-content:left;
  font-size: 25px;
  padding-left: 200px;
  padding-top: 25px;
}