.App {
  background-color: #282c34;
  height: 100vh;
}

.Navbar {
  height: 15vh;
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: irem;
}